@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fade left and Right */
.fade-x {
    mask-image: linear-gradient(90deg, transparent 0%, white 20%, white 80%, transparent 100%);
    -webkit-mask-image: linear-gradient(90deg, transparent 0%, white 20%, white 80%, transparent 100%);
}

/* Fade effect top bottom */
@layer utilities {
    .fade-y {
        mask-image: linear-gradient(0deg, transparent 0%, white 20%, white 80%, transparent 100%);
        -webkit-mask-image: linear-gradient(0deg, transparent 0%, white 20%, white 80%, transparent 100%);
    }
}